body {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    /* font-weight: bold; */
    user-select: none;
}

.calc {
    width: 100%;
    height: 500px;
    display: flex;
}

/* Output Screen */
.output-scr {
    width: 100%;
    background-color: #858693;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.output{
    margin: 0 10px 0 auto;
    color: #FFFFFF;
    font-size: 30px;
}

.calculation {
    margin: 10px 10px 10px auto;
    color: #FFFFFF;
    font-size: 15px;   
}

/* Operation */
.op {
    width: 100%;
    display: flex;
    border: 1px solid #b9b9b9;
    border-left: none;
    border-bottom: none;
    background-color: #e0e0e0;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    flex: 1 0 25%;
    height: 100px !important;
}

.row-ops {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
}

.col-ops {
    width: 25%;
}

.col-ops .op {
    color: #FFFFFF;
    background-color: #f4913e;
}

.nums {
    display: flex;
    flex-direction: row;
}

.num-cell:nth-child(13) {
    flex: 1 0 58%;
}

.row-ops .op:hover {
    background-color: #bcbcbc;
}

.col-ops .op:hover {
    background-color: #DB8237;
}